#lEye, #rEye {
	position: absolute;
	top: 57px;
	width: 24px;
	height: 25px;
}

#lDot, #rDot {
	position: absolute;
	top: 62px;
	width: 4px;
	height: 4px;
}

#lEye {
	left: 90px;
}

#rEye {
	left: 155px;
}

#lDot {
	left: 113px;
}

#rDot {
	left: 165px;
}

#bear {
    margin-left: 50px;
    width: 156px;
	height: 139px;
}

