div.dice {
    float: left;
    width: 32px;
    background: id="F5F5F5";
    border: #999 1px solid;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    margin: 5px;
}

div.button {
    font-size: 24px;
}